<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <style>
            body{
                background-color: #6f5499;
            }
            .container{
                background-color: white;
            }
            label{
                color:#6f5499;
            }
            .table{
                color:#666;
            }
            tr:hover{
                color:white;
                background-color: #6f5499!important;
            }
            .btn-custom {
                color: #fff;
                background-color: #9d5ffc;
            }
            .btn-custom-1 {
                color: #fff;
                background-color: #33b266;
            }
            .btn-custom-2 {
                color: #fff;
                background-color: #d14949;
            }
            .btn-custom-3 {
                color: #fff;
                background-color: #58a6e2;
            }
        </style>
    </head>
    <body>
        <div id="app" class="">
            <div class="container">
                <div class="form-group">
                    <form>
                        <h3>Todo List</h3>
                        <div class="form-group">
                            <label for="">User ID</label>
                            <input type="hidden" class="form-control" readonly v-model="id" placeholder="id" type="text" name="" value="" />
                            <input class="form-control" v-model="userId" type="text" name="" value="" />
                        </div>
                        <div class="form-group">
                            <label for="">Content</label>
                            <textarea class="form-control" v-model="title" name="name" rows="4" cols="22"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Completed</label>
                            <select v-model="completed" class="form-control" name="">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-custom-3" name="button" v-on:click="addRow()">{{button_text}}</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" border="1">
                        <tr class="btn-custom">
                            <td>ID</td>
                            <td>User ID</td>
                            <td>Title</td>
                            <td>Completed</td>
                            <td>Action</td>
                        </tr>
                        <tr v-for="(dataTodo,i) in paginatedData">
                            <td>{{dataTodo.id}}</td>
                            <td>{{dataTodo.userId}}</td>
                            <td>{{dataTodo.title}}</td>
                            <td>{{dataTodo.completed}}</td>
                            <td>
                                <button v-on:click="editRow(i)" type="button" name="edit" id="edit" class="btn btn-custom-1">Edit</button>
                                <button v-on:click="delete_data(i)" type="button" name="delete" id="delete" class="btn btn-custom-2">delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <button type="button" class="btn btn-custom" name="button" v-on:click="prevPage()">Prev</button>
                <button type="button" class="btn btn-custom" name="button" v-on:click="nextPage()">Next</button>

            </div>
        </div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://underscorejs.org/underscore-min.js"></script>

<script type="text/javascript">
    var dataUrl = 'https://jsonplaceholder.typicode.com/todos';
    let tokenStr = '123xxyyzz';
    var vm = new Vue({
        el : '#app',
        data:{
            mydata  : [],
            row:[],
            id:'',
            userId :'',
            title :'',
            completed:false,
            button_text : 'add data',
            size : 10,
            pageNumber: 0   // default to page 0
        },
        mounted(){
            axios.get(dataUrl).then(response => {this.mydata = response.data});
            axios.get(dataUrl, { headers: {"Authorization" : `Test Token`+ tokenStr} });
        },
        computed:{
            userLastCount() {
                return this.mydata[this.mydata.length - 1].id+1;
            },
            paginatedData(){
                const start = this.pageNumber * this.size;
                const end = start + this.size;
                return this.mydata.slice(start, end);
            }
        },
        methods:{
            delete_data : function(i) {
                var a = (this.pageNumber * this.size) + i;
                console.log(a);
                this.mydata.splice(a,1);
            },
            addRow : function() {
                if (this.id == '') {
                    this.mydata.push({
                        id           : this.userLastCount,
                        userId       : this.userId,
                        title        : this.title,
                        completed    : this.completed
                    });
                }else{
                    // this.mydata[this.id-1] = {
                    //     id           : this.id,
                    //     userId       : this.userId,
                    //     title        : this.title,
                    //     completed    : this.completed
                    // };
                    var newID       = this.id;
                    var newUserId   = this.userId;
                    var newTitle    = this.title;
                    var newCompleted = this.completed;
                    var dataNew = _.map(this.mydata,function(item, index) {
                        if (item.id == newID) {
                            // console.log(item.id);
                            // item.id           = newID;
                            item.userId       = newUserId;
                            item.title        = newTitle;
                            item.completed    = newCompleted;
                        }
                        return item;

                    });
                    this.mydata = dataNew;

                }
                this.id='';
                this.userId='';
                this.title='';
                this.completed=false;

            },
            editRow:function(i) {
                var pg = this.pageNumber;
                var a = (this.pageNumber * this.size) + i;
                this.id         = this.mydata[a].id;
                this.userId     = this.mydata[a].userId;
                this.title      = this.mydata[a].title;
                this.completed  = this.mydata[a].completed;
                this.button_text= 'save edit';
                // this.pageNumber++;
                // this.pageNumber = pg;

            },
            nextPage:function() {
                this.pageNumber++;
            },
            prevPage:function() {
                this.pageNumber--;
            }
        }
    })
</script>
